@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
body{
    font-family: "Titillium Web";
    font-weight: 400;
}

nav a, .nav-link, footer a{
    color: var(--bs-link-color);
    --bs-link-color: #ffffff;
    --bs-link-hover-color: #cacaca;
    --bs-link-color-rgb: var(--bs-link-color);
    --bs-nav-link-hover-color :var(--bs-link-hover-color)
}

.bandeau{
    background: #5e7789;
}

.logo-exacom{
    width: 50px;
}
@media screen and (min-width: 768px) {
    .logo-exacom{
        width: 200px;
        height: 30px;
    }
}

.btn{
    background: #5e7789;
    color: white;
}
.btn:hover{
    background: #8baec4;
    color: white; 
}

.card{
    padding: 0;
}

.rounded{
    width: 100%;
}